<section>
    <h1>Experience Our Quality Work</h1>
    <div>
      <img src="/gallery/g1.jpeg" alt="Gallery Picture 1">  
      <img src="/gallery/g2.jpeg" alt="Gallery Picture 2">  
      <img src="/gallery/g3.jpeg" alt="Gallery Picture 3">  
      <img src="/gallery/g4.jpeg" alt="Gallery Picture 4">  
    </div>
    <a href="/gallery">Explore More Stunning Transformations</a>
</section>

<style>
    section {
        text-align: center;
        margin: 0 1rem 5rem 1rem;
    }
    h1 {
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 3rem;
    }
    div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }
    img {
        width: 20rem;
        aspect-ratio: 1;
        object-fit: cover;
        margin: 0.01rem auto 0.01rem auto;
    }
    a {
        display: inline-block;
        margin-top: 2.5rem;
        text-decoration: none;
        border: 1px solid black;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        transition: 200ms;
        background: url("/tiedye2.jpeg") no-repeat center bottom;
        color: transparent;
        background-size: 150%;
        -webkit-background-clip: text;
        background-clip: text;
    }
    a:hover {
        transform: translateY(3px);
    }
    @media (max-width: 62rem) {
        div {
            grid-template-columns: 1fr 1fr;
        }
    }
</style>